<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
<label for="name">Email:</label>
    <input type="text" name="email" />
<label for="name">Password:</label>
    <input type="text" name="password" />
    <input type="submit" name="login" value="Log In" />
</form>
